<div class="row form-group">
  <div class="col-6">
    <%= label :profile, :first_name %>
    <%= text_field :profile, :first_name, class: "form-control form-control-lg underlined", placeholder: 'First name' %>
  </div>
  <div class="col-6">
    <%= label :profile, :last_name %>
    <%= text_field :profile, :last_name, class: "form-control form-control-lg underlined", placeholder: 'Last name' %>
  </div>
</div>
<div class="row form-group mt-4">
  <div class="col-6">
    <%= label :profile, :dob, "Date of birth" %>
    <div class="down-arrow">
      <%= text_field :profile, :dob, class: 'datepicker-toggle form-control form-control-lg underlined', 'data-date-format': 'yyyy-mm-dd', 'data-date-end-date': '-1d', placeholder: 'Date of birth' %>
    </div>
  </div>
  <div class="col-6">
    <%= label :profile, :country %>
    <%= display_country %>
  </div>
</div>
<div class="row form-group">
  <div class="col-12">
    <%= label :profile, :address %>
    <%= text_field :profile, :address, class: "form-control form-control-lg underlined", placeholder: 'Address' %>
  </div>
</div>
<div class="row form-group">
  <div class="col-6">
    <%= label :profile, :city %>
    <%= text_field :profile, :city, class: "form-control form-control-lg underlined", placeholder: 'City' %>
  </div>
  <div class="col-6">
    <%= label :profile, :postcode %>
    <%= text_field :profile, :postcode, class: "form-control form-control-lg underlined", placeholder: 'Postcode' %>
  </div>
</div>
