<% if profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
    <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row form-group">
  <div class="col-6">
    <%= label :profile_first_name, :first_name %>
    <%= text_field :profile_first_name, :first_name, class: "form-control form-control-lg underlined", placeholder: 'First name' %>
  </div>
  <div class="col-6">
    <%= label :profile_last_name, :last_name %>
    <%= text_field :profile_last_name, :last_name, class: "form-control form-control-lg underlined", placeholder: 'Last name' %>
  </div>
</div>
<div class="row form-group mt-4">
  <div class="col-6">
    <%= label :dob, "Date of birth" %>
    <div class="down-arrow">
      <%= text_field :dob, :profile_dob, class: 'datepicker-toggle form-control form-control-lg underlined', 'data-date-format': 'yyyy-mm-dd', 'data-date-end-date': '-1d', placeholder: 'Date of birth' %>
    </div>
  </div>
  <div class="col-6">
    <%= label :profile_country, :country %>
  </div>
</div>
<div class="row form-group">
  <div class="col-12">
    <%= label :profile_address, :address %>
    <%= text_field :profile_address, :address, class: "form-control form-control-lg underlined", placeholder: 'Address' %>
  </div>
</div>
<div class="row form-group">
  <div class="col-6">
    <%= label :profile_city, :city %>
    <%= text_field :profile_city, :city, class: "form-control form-control-lg underlined", placeholder: 'City' %>
  </div>
  <div class="col-6">
    <%= label :profile_postcode, :postcode %>
    <%= text_field :profile_postcode, :postcode, class: "form-control form-control-lg underlined", placeholder: 'Postcode' %>
  </div>
</div>
